<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6Uk8LC1tNz8a_iRoaiC5AAXVBoXQfRAw</string>
	<key>GCM_SENDER_ID</key>
	<string>354699747567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sample</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-8c06e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-8c06e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354699747567:ios:24b536acdaf35727543b1a</string>
</dict>
</plist>